<!--Aside left-->
  <div>
    <div style="padding: 10px 30px; background-size: cover;">
      <img src="../assets/img/student-hat.png" class="img-fluid" alt="Responsive image">
    </div>
    <h3 style="padding:20px;">Ứng Dụng Quản Lý Sinh Viên</h3>
    <ul class="nav nav-pills flex-column " style="padding: 20px;">
      <li class="nav-item">
        <a class="nav-link stylebuttonleft active" routerLink="/managestudents">Quản Lý Sinh Viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylebuttonleft" routerLink="/managesubjects">Quản Lý Môn Học</a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylebuttonleft" routerLink="/manageclasses">Quản Lý Lớp Học </a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylebuttonleft" routerLink="/managemark">Quản Lý Điểm</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link stylebuttonleft" routerLink="/statistics">Thống Kê </a>
      </li>
    </ul>
    <hr class="d-sm-none">
  </div>
