<nav class="navbar" style="padding: 0 0 20px 0px; border-bottom: 1px solid #e9ecef;">
  <form class="form-inline" action="">
    <input class="form-control mr-sm-2" name="searchname" placeholder="Search" [(ngModel)]="searchText" />
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>
<br>
<form (ngSubmit)="AddStudent(formAddStudent)" #formAddStudent="ngForm">
  <button class="btn btn-primary btn-sm styleaddstudent">Thêm Mới</button>&nbsp;
  <button *ngIf="statusaddstudent" (click)="CannelAddStudent()" class="btn btn-primary btn-sm styleaddstudent" style="background-color:chocolate;">Hủy Thêm</button>
  <div *ngIf="statusaddstudent">
    <br>
    <br>
    <input placeholder="Nhập tên" ngModel name="name" />&nbsp;
    <input placeholder="Nhập lớp" ngModel name="studentClass" />&nbsp;
    <input placeholder="Nhập ngày sinh" ngModel name="dateOfBirth" />
  </div>
</form>
<br>
<br>
<table *ngIf="statusupdatestudent" class="table table-hover">
  <thead>
    <tr>
      <th>Mã Sinh Viên</th>
      <th>Tên Sinh Viên</th>
      <th>Lớp</th>
      <th>Ngày Sinh</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of arrStudents | filter: searchText">
      <ng-container *ngIf="statusupdatestudent">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.studentClass}}</td>
        <td>{{student.dateOfBirth | date}}</td>
        <td>
          <a class="btn btn-primary btn-sm stylebuttondelete" routerLink='' (click)="DeleteStudent(student)">Xóa</a>
        </td>
        <td>
          <a class="btn btn-primary btn-sm stylebuttonupdate" routerLink='' (click)="UpdateStudentIn(student)">Cập Nhật</a>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<form *ngIf="!statusupdatestudent" (submit)="UpdateStudent()" #formUpdateStudent="ngForm">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <span>Mã Sinh Viên: </span>&nbsp;
  <input [disabled]="true" ngModel name="id"/><br>
  <span>Tên Sinh Viên: </span>&nbsp;
  <input placeholder="Nhập tên" ngModel name="name" /><br>
  <span>Lớp: </span>&nbsp;
  <select (change)="ChangeValue($event)">
    <option *ngFor="let class of arrClasses" [selected]="class.id == student.studentClass? 'selected':''" [value]="class.id">{{class.id}}</option>
  </select><br>
  <span>Ngày Sinh:</span>&nbsp;
  <input name="dateOfBirth" ngModel placeholder="Nhập ngày sinh" /><br>
  <a class="btn btn-primary btn-sm stylebuttonupdate" style="color:white;display: inline-block; margin: 0 auto;" routerLink='' (click)="UpdateStudent(student.id)">Cập Nhật</a>
</form>