<head>
    <title>Quản Lý Sinh Viên</title>
    <meta charset="utf-8">
</head>
<body class="container-fuild">
    <!--<header>
        <div class="jumbotron text-center" style="background-color: white">
            <app-header></app-header>
        </div>
    </header>-->

    <aside class="row cangiua" style="position: relative;">
        <div class="col-md-3" style="background-color: #f1f1f1!important;padding: 5px;box-shadow: 1px 0 40px rgba(0,0,0,0.16),0px 0 10px  rgba(0,0,0,0.12)!important">
            <app-asideleft></app-asideleft>
        </div>
        <div class="col-md-9">
            <app-body></app-body>
        </div>
    </aside>
    <footer>
        <div class="jumbotron text-center" style="margin-bottom: 0;margin-top: 20px;">
            <app-footer></app-footer>
        </div>
    </footer>
</body>